<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Samochody</title>
</head>
<body>
    <tr th:each="cars : ${auta}">
        <td th:text="${cars.getMarka()}" /><br>
        <td th:text="${cars.getModel()}" /><br>
        <p>================================</p>
    </tr>

    <form th:action="@{/add-car}" th:object="${newauto}" th:method="post">
        <p>Model: <input type="text" th:field="*{model}"></p>
        <p>Marka: <input type="text" th:field="*{marka}"></p>
        <p><input type="submit" value="add new car"></p>
    </form>
</body>
</html>